<div
  class="flex flex-row items-start justify-between p-5 styleBorderSolidLite border hover:bg-slate-200 dark:hover:bg-zinc-700 cursor-pointer"
  [routerLink]="['/todos/' + (todo?.id ?? '') + '/tasks']"
>
  <div class="flex flex-col gap-y-3">
    <div class="flex flex-col gap-y-1">
      <span>{{ todo?.title ?? "No title" }}</span>
      <span class="textMuted">{{ truncateString(todo?.description ?? "No description") }}</span>
    </div>

    <div class="flex flex-col gap-y-1">
      <span>Team</span>
      <div class="flex flex-row gap-x-1">
        @for ((assignee of todo?.assignees ?? []); track $index) {
          <img class="rounded-full w-7 h-7" [src]="assignee?.profile?.imageUrl ?? ''" alt="" />
        }
        <img
          class="rounded-full w-7 h-7"
          src="https://cdn-icons-png.flaticon.com/512/7887/7887095.png"
          alt=""
        />
      </div>
    </div>
  </div>

  <div class="flex flex-col items-center gap-y-1">
    <div class="relative w-[100px] h-[100px]">
      <app-circle-progress [percentCompletedTasks]="percentCompletedTasks" [index]="index" />
    </div>

    <span class="text-lg">{{ countCompletedTasks }}/{{ countTasks }} Tasks</span>
  </div>
</div>
