<div
  class="overflow-hidden rounded-xl border border-gray-200 bg-white shadow-lg dark:border-zinc-700 dark:bg-zinc-800"
>
  <div [class]="headerClass()" class="relative p-6 text-white">
    <div class="flex w-full flex-col items-start justify-between gap-4 sm:flex-row sm:items-center">
      <div class="flex w-full flex-col sm:flex-1">
        <ng-content select="[item-info-header]"></ng-content>

        <ng-content select="[item-info-description]"></ng-content>

        <div class="mb-4 flex flex-wrap gap-4 text-sm">
          @if (start_date) {
            <div class="flex items-center gap-1" [class]="accentColorClass()">
              <mat-icon class="h-4! w-4! min-w-4 text-base!" fontIcon="event" />
              <span>Start: {{ formatDate(start_date) }}</span>
            </div>
          }
          @if (end_date) {
            <div class="flex items-center gap-1" [class]="accentColorClass()">
              <mat-icon class="h-4! w-4! min-w-4 text-base!" fontIcon="schedule" />
              <span>End: {{ formatDate(end_date) }}</span>
            </div>
          }
        </div>

        <div class="grid w-full grid-cols-2 justify-between gap-2 text-center sm:grid-cols-4">
          <div class="flex flex-col">
            <div class="text-xl font-bold">{{ completedCount() }}</div>
            <div class="text-xs text-gray-200 sm:text-sm">Completed</div>
          </div>
          <div class="flex flex-col">
            <div class="text-xl font-bold">{{ skippedCount() }}</div>
            <div class="text-xs text-gray-200 sm:text-sm">Skipped</div>
          </div>
          <div class="flex flex-col">
            <div class="text-xl font-bold">{{ failedCount() }}</div>
            <div class="text-xs text-gray-200 sm:text-sm">Failed</div>
          </div>
          <div class="flex flex-col">
            <div class="text-xl font-bold">{{ inProgressCount() }}</div>
            <div class="text-xs text-gray-200 sm:text-sm">In Progress</div>
          </div>
        </div>

        <ng-content select="[item-info-progress]"></ng-content>
      </div>
    </div>

    <ng-content select="[item-info-actions]"></ng-content>
  </div>

  <ng-content></ng-content>
</div>
