<div class="flex flex-col gap-y-5 m-3">
  @if (profile) {
    <div class="flex flex-col items-center gap-3">
      <img [src]="profile.imageUrl" alt="" class="rounded-full w-24 h-24" />

      <div class="flex flex-col items-center gap-y-1">
        <div class="flex flex-row flex-wrap gap-2">
          <span class="text-xl">{{ profile.name }}</span>
          <span class="text-xl">{{ profile.lastName }}</span>
        </div>
        <span class="textMuted">{{ profile.bio }}</span>
      </div>
    </div>

    <div class="flex flex-row gap-x-5 w-full">
      <div
        class="flex flex-row justify-center items-center gap-x-2 p-3 rounded-xl bg-slate-300 dark:bg-zinc-700 w-1/2 h-full"
      >
        <mat-icon class="!w-[25px] !h-[30px] !text-2xl" fontIcon="assignment_turned_in" />
        <span class="text-lg">22</span>
      </div>
      <div
        class="flex flex-row justify-center items-center gap-x-2 p-3 rounded-xl bg-slate-300 dark:bg-zinc-700 w-1/2 h-full"
      >
        <mat-icon class="!w-[25px] !h-[30px] !text-2xl" fontIcon="pending_actions" />
        <span class="text-lg">50</span>
      </div>
    </div>

    <div class="flex flex-col gap-y-3">
      <button class="styleButDanger" (click)="logout()">
        <mat-icon class="!w-[25px] !h-[25px] !text-2xl" fontIcon="logout" />
        <span>Logout</span>
      </button>
    </div>
  } @else {
    <div class="flex flex-col justify-center items-center">
      <span>You are not logged in</span>
      <button routerLink="/login" class="styleFloatBut">Login</button>
    </div>
  }
</div>
