<div class="flex flex-col left-0 top-0 m-0 w-full h-screen overflow-x-auto">
  <div
    class="flex flex-col p-5 m-auto !rounded-xl styleBorderSolidLite !border-[3px] bg-transparent backdrop-blur w-full min-[400px]:w-10/12 sm:w-[400px] text-center"
  >
    <div class="flex flex-col gap-y-3 !text-left" [formGroup]="logForm">
      <div class="flex flex-col gap-y-1">
        <label class="styleLabel">Username</label>
        <input class="styleField !bg-transparent" type="text" formControlName="username" required />

        @if (isInvalid("username")) {
          @if (f["username"].errors?.["required"]) {
            <span class="text-red-500">Field 'Username' should not be empty</span>
          } @else if (f["username"].errors?.["pattern"]) {
            <span class="text-red-500">Field 'Username' must contain only Latin characters.</span>
          }
        }
      </div>

      <div class="flex flex-col gap-y-1">
        <label class="styleLabel">Password</label>

        <div class="relative flex flex-row items-center">
          <input
            class="styleField !bg-transparent w-full"
            [type]="isShowPassword ? 'text' : 'password'"
            formControlName="password"
          />
          <div class="absolute right-1 top-[5px]">
            @if (isShowPassword) {
              <mat-icon
                class="!w-[35px] !h-[35px] !text-3xl !text-red-500"
                fontIcon="visibility_off"
                (click)="isShowPassword = false"
              />
            } @else {
              <mat-icon
                class="!w-[35px] !h-[35px] !text-3xl !text-red-500"
                fontIcon="visibility"
                (click)="isShowPassword = true"
              />
            }
          </div>
        </div>

        @if (isInvalid("password")) {
          @if (f["password"].errors?.["required"]) {
            <span class="text-red-500">Field 'Password' should not be empty</span>
          } @else if (f["password"].errors?.["minlength"]) {
            <span class="text-red-500">Field 'Password' must be at least 6 characters long</span>
          }
        }
      </div>

      <div class="flex flex-row justify-between">
        <div class="flex flex-row gap-x-3">
          <input class="styleCheckbox" type="checkbox" id="remember" formControlName="remember" />
          <label for="remember">Remember me</label>
        </div>

        <a class="styleLinkRedir" [routerLink]="['/reset_password']">Forgot Password?</a>
      </div>

      <button class="styleButInfo" (click)="submitted == false && send()">
        @if (submitted) {
          <span>...Loading</span>
        } @else {
          <span>Login</span>
        }
      </button>

      <div class="flex flex-col gap-x-2">
        <span>Is this your first time here?</span>
        <span class="styleLinkRedir" [routerLink]="['/signup']">Sign Up</span>
      </div>
    </div>
  </div>
</div>
