<div
  class="flex flex-row items-center justify-between p-5 styleBorderSolidLite border hover:bg-slate-200 dark:hover:bg-zinc-700 cursor-pointer"
>
  <div class="flex flex-row items-center gap-x-3">
    <input
      class="styleCheckbox"
      type="checkbox"
      name=""
      [id]="subtask?.id"
      [value]="subtask?.isCompleted"
    />
    <div class="flex flex-col gap-y-1">
      <span>{{ subtask?.title }}</span>
      <span class="textMuted">{{ subtask?.description }}</span>
    </div>
  </div>

  <button [matMenuTriggerFor]="menu" class="styleFloatBut !p-1" (click)="$event.stopPropagation()">
    <mat-icon class="!w-[25px] !h-[30px] !text-2xl" fontIcon="more_horiz" />
  </button>
  <mat-menu #menu="matMenu" class="!p-1 !min-w-min">
    <div class="flex flex-col items-center gap-y-2">
      <button
        class="styleFloatBut !bg-blue-500 dark:!bg-blue-600 !p-1"
        [routerLink]="subtask?.id + '/edit_subtask'"
      >
        Edit
      </button>
      <button class="styleFloatBut !bg-red-500 dark:!bg-red-700 !p-1" (click)="deleteSubtask()">
        Delete
      </button>
    </div>
  </mat-menu>
</div>
