<div class="flex flex-col left-0 top-0 m-0 w-full h-screen overflow-x-auto">
  <div
    class="flex flex-col p-5 m-auto rounded-xl! styleBorderSolidLite border-4! bg-transparent backdrop-blur w-full min-[400px]:w-10/12 sm:w-[400px] text-center"
  >
    <div class="flex flex-col gap-y-3 text-left!" [formGroup]="resetForm">
      <div class="flex flex-col items-center text-center">
        <span class="text-4xl font-bold">Change Password Form</span>
      </div>

      @if (!isVerified) {
        <div class="flex flex-col mt-10 text-center">
          <span class="text-xl text-red-500">{{ errorText }}</span>
          <button class="styleButWarn mt-5" (click)="back()">Return to Password Reset</button>
        </div>
      } @else {
        <div class="flex flex-col mt-10">
          <div class="flex flex-col gap-y-1">
            <label class="styleLabel">New Password</label>
            <div class="relative flex flex-row items-center">
              <input
                class="styleField w-full"
                [type]="isShowPassword ? 'text' : 'password'"
                formControlName="password"
              />
              <div class="absolute right-2 h-7.5!">
                @if (isShowPassword) {
                  <mat-icon
                    class="w-7.5! h-7.5! text-3xl! text-red-500!"
                    fontIcon="visibility_off"
                    (click)="isShowPassword = false"
                  />
                } @else {
                  <mat-icon
                    class="w-7.5! h-7.5! text-3xl! text-red-500!"
                    fontIcon="visibility"
                    (click)="isShowPassword = true"
                  />
                }
              </div>
            </div>

            @if (isInvalid("password") && f["password"].errors?.["required"]) {
              <span class="text-red-500">Field 'Password' should not be empty</span>
            }
          </div>

          <div class="flex flex-col gap-y-1">
            <label class="styleLabel">Confirm password</label>
            <div class="relative flex flex-row items-center">
              <input
                class="styleField w-full"
                [type]="isShowConfirmPassword ? 'text' : 'password'"
                formControlName="confirmPassword"
              />
              <div class="absolute right-2 h-7.5!">
                @if (isShowConfirmPassword) {
                  <mat-icon
                    class="w-7.5! h-7.5! text-3xl! text-red-500!"
                    fontIcon="visibility_off"
                    (click)="isShowConfirmPassword = false"
                  />
                } @else {
                  <mat-icon
                    class="w-7.5! h-7.5! text-3xl! text-red-500!"
                    fontIcon="visibility"
                    (click)="isShowConfirmPassword = true"
                  />
                }
              </div>
            </div>

            @if (isInvalid("confirmPassword")) {
              @if (f["confirmPassword"].errors?.["required"]) {
                <span class="text-red-500">Field 'Confirm password' should not be empty</span>
              } @else if (f["confirmPassword"].errors?.["passwordMismatch"]) {
                <span class="text-red-500">Passwords don't match</span>
              }
            }
          </div>

          <div class="flex flex-col mt-5 gap-3">
            <button class="styleButInfo" (click)="onSubmit()">Change password</button>
          </div>
        </div>
      }
    </div>
  </div>
</div>
