<div
  class="group fixed top-4 right-4 z-9999 flex w-[320px] max-w-md flex-col gap-3"
  (mouseenter)="isHover = true"
  (mouseleave)="isHover = false"
>
  @for (notification of notifications; track $index) {
    <div
      class="styleBorderSolidLite animate-slideInRight notification-item flex w-full flex-col overflow-hidden rounded-xl border-4 bg-gray-200/70 shadow-lg backdrop-blur dark:bg-zinc-800/70"
      [ngClass]="[getColorForStatus(notification.status, 'border')]"
      [style.margin-top.px]="[isHover ? 0 : $index * 15]"
      [style.position]="isHover ? 'relative' : 'absolute'"
      data-id="{{ notification.id }}"
    >
      <div class="flex flex-row justify-between p-1">
        <div class="flex flex-col gap-x-1">
          <div class="flex flex-row gap-x-3">
            <mat-icon
              class="size-7.5! text-3xl! before:w-7.5!"
              [ngClass]="getColorForStatus(notification.status, 'color')"
              [fontIcon]="notification.icon"
            />
            <span class="text-lg font-medium">
              {{ getNotificationTitle(notification.status) }}
            </span>
          </div>

          <div class="flex flex-row gap-x-3">
            <div class="w-[25px]"></div>
            @if (notification.message != "") {
              <span class="text-base">{{ notification.message }}</span>
            }
          </div>
        </div>

        <div class="flex flex-col items-center justify-start">
          <mat-icon
            (click)="closeNotification(notification.id)"
            class="h-5! w-5! cursor-pointer text-xl! font-bold text-gray-600 dark:text-gray-300"
            fontIcon="close"
          />
        </div>
      </div>
    </div>
  }
</div>

<span class="hidden border-blue-500"></span>
<span class="hidden border-green-700"></span>
<span class="hidden border-yellow-600"></span>
<span class="hidden border-red-700"></span>
