<div
  class="fixed flex flex-col gap-3 top-4 right-4 z-[9999] w-[320px] max-w-md group"
  (mouseenter)="isHover = true"
  (mouseleave)="isHover = false"
>
  @for (notification of notifications; track $index) {
    <div
      class="flex flex-col rounded-xl styleBorderSolidLite border-4 bg-gray-200/70 dark:bg-zinc-800/70 backdrop-blur w-full animate-slideInRight shadow-lg overflow-hidden notification-item"
      [ngClass]="[getColorForStatus(notification.status, 'border')]"
      [style.margin-top.px]="[isHover ? 0 : $index * 15]"
      [style.position]="isHover ? 'relative' : 'absolute'"
      data-id="{{ notification.id }}"
    >
      <div class="flex flex-row justify-between p-1">
        <div class="flex flex-col gap-x-1">
          <div class="flex flex-row gap-x-3">
            <mat-icon
              class="!w-7.5 !h-7.5 !text-3xl"
              [ngClass]="getColorForStatus(notification.status, 'color')"
              [fontIcon]="notification.icon"
            />
            <span class="text-lg font-medium">
              {{ getNotificationTitle(notification.status) }}
            </span>
          </div>

          <div class="flex flex-row gap-x-3">
            <div class="w-[25px]"></div>
            @if (notification.message != "") {
              <span class="text-base">{{ notification.message }}</span>
            }
          </div>
        </div>

        <div class="flex flex-col justify-start items-center">
          <mat-icon
            (click)="closeNotification(notification.id)"
            class="!w-5 !h-5 font-bold !text-xl text-gray-600 dark:text-gray-300 cursor-pointer"
            fontIcon="close"
          />
        </div>
      </div>
    </div>
  }
</div>

<span class="hidden border-blue-500"></span>
<span class="hidden border-green-700"></span>
<span class="hidden border-yellow-600"></span>
<span class="hidden border-red-700"></span>
