<div class="w-full" [class]="class" [formGroup]="form">
  @if (isShow()) {
    @switch (field.type) {
      <!-- Text Input -->
      @case (TypeField.text) {
        <mat-form-field class="w-full" hideRequiredMarker="true">
          <mat-label
            >{{ getLabel() }}<span *ngIf="field.required" class="text-red-500">*</span></mat-label
          >
          <input
            matInput
            type="text"
            [formControlName]="field.name"
            [readonly]="field.readonly ? true : false"
            (input)="onValueChange($any($event.target).value)"
          />
          @if (showError && isInvalid(field.name)) {
            <mat-error>{{ getErrorMessage(field.name) }}</mat-error>
          }
        </mat-form-field>
      }

      <!-- Number Input -->
      @case (TypeField.number) {
        <mat-form-field class="w-full" hideRequiredMarker="true">
          <mat-label
            >{{ getLabel() }}<span *ngIf="field.required" class="text-red-500">*</span></mat-label
          >
          <input
            matInput
            type="number"
            [formControlName]="field.name"
            [readonly]="field.readonly ? true : false"
            [min]="getMin()"
            (input)="onValueChange($any($event.target).value)"
          />
          @if (showError && isInvalid(field.name)) {
            <mat-error>{{ getErrorMessage(field.name) }}</mat-error>
          }
        </mat-form-field>
      }

      <!-- Textarea -->
      @case (TypeField.textarea) {
        <mat-form-field class="w-full" hideRequiredMarker="true">
          <mat-label
            >{{ getLabel() }}<span *ngIf="field.required" class="text-red-500">*</span></mat-label
          >
          <textarea
            matInput
            [formControlName]="field.name"
            [readonly]="field.readonly ? true : false"
            rows="3"
            (input)="onValueChange($any($event.target).value)"
          ></textarea>
          @if (showError && isInvalid(field.name)) {
            <mat-error>{{ getErrorMessage(field.name) }}</mat-error>
          }
        </mat-form-field>
      }

      <!-- Select -->
      @case (TypeField.select) {
        <mat-form-field class="w-full" hideRequiredMarker="true">
          <mat-label
            >{{ getLabel() }}<span *ngIf="field.required" class="text-red-500">*</span></mat-label
          >
          <mat-select [formControlName]="field.name">
            @for (option of getOptions(); track trackByValue($index, option)) {
              @if (isOptionVisible(option)) {
                <mat-option [value]="option.value">{{ option.label }}</mat-option>
              }
            }
          </mat-select>
          @if (showError && isInvalid(field.name)) {
            <mat-error>{{ getErrorMessage(field.name) }}</mat-error>
          }
        </mat-form-field>
      }

      <!-- Checkbox -->
      @case (TypeField.checkbox) {
        <div class="flex flex-col gap-1">
          <mat-checkbox [formControlName]="field.name">
            {{ getLabel() }}<span *ngIf="field.required" class="text-red-500">*</span>
          </mat-checkbox>
          @if (showError && isInvalid(field.name)) {
            <span class="text-xs text-red-500">{{ getErrorMessage(field.name) }}</span>
          }
        </div>
      }

      <!-- Radio Group -->
      @case (TypeField.radio) {
        <div class="flex flex-col gap-2">
          <span class="text-sm font-medium text-gray-700 dark:text-gray-300"
            >{{ getLabel() }}<span *ngIf="field.required" class="text-red-500">*</span></span
          >
          <mat-radio-group [formControlName]="field.name" class="flex flex-col gap-2">
            @for (option of getOptions(); track trackByValue($index, option)) {
              @if (isOptionVisible(option)) {
                <mat-radio-button [value]="option.value">
                  {{ option.label }}
                </mat-radio-button>
              }
            }
          </mat-radio-group>
          @if (showError && isInvalid(field.name)) {
            <span class="text-xs text-red-500">{{ getErrorMessage(field.name) }}</span>
          }
        </div>
      }

      <!-- Date Picker -->
      @case (TypeField.datepicker) {
        <mat-form-field class="w-full" hideRequiredMarker="true">
          <mat-label
            >{{ getLabel() }}<span *ngIf="field.required" class="text-red-500">*</span></mat-label
          >
          <input
            matInput
            [matDatepicker]="picker"
            [formControlName]="field.name"
            [readonly]="field.readonly ? true : false"
          />
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          @if (showError && isInvalid(field.name)) {
            <mat-error>{{ getErrorMessage(field.name) }}</mat-error>
          }
        </mat-form-field>
      }

      <!-- Slide Toggle -->
      @case (TypeField.slidetoggle) {
        <div class="flex items-center gap-2">
          <mat-slide-toggle [formControlName]="field.name">
            {{ getLabel() }}<span *ngIf="field.required" class="text-red-500">*</span>
          </mat-slide-toggle>
          @if (showError && isInvalid(field.name)) {
            <span class="text-xs text-red-500">{{ getErrorMessage(field.name) }}</span>
          }
        </div>
      }

      <!-- Slider -->
      @case (TypeField.slider) {
        <div class="flex flex-col gap-2">
          <span class="text-sm font-medium text-gray-700 dark:text-gray-300"
            >{{ getLabel() }}<span *ngIf="field.required" class="text-red-500">*</span></span
          >
          <mat-slider [min]="getMin()" [max]="getMax()" class="w-full">
            <input matSliderThumb [formControlName]="field.name" />
          </mat-slider>
          <span class="text-sm text-gray-500">{{ form.get(field.name)?.value }}</span>
          @if (showError && isInvalid(field.name)) {
            <span class="text-xs text-red-500">{{ getErrorMessage(field.name) }}</span>
          }
        </div>
      }

      <!-- Slider Range -->
      @case (TypeField.sliderrange) {
        <div class="flex flex-col gap-2">
          <span class="text-sm font-medium text-gray-700 dark:text-gray-300"
            >{{ getLabel() }}<span *ngIf="field.required" class="text-red-500">*</span></span
          >
          <mat-slider [min]="getMin()" [max]="getMax()" class="w-full">
            <input matSliderStartThumb [formControlName]="field.name + '_start'" />
            <input matSliderEndThumb [formControlName]="field.name + '_end'" />
          </mat-slider>
          @if (showError && (isInvalid(field.name + "_start") || isInvalid(field.name + "_end"))) {
            <span class="text-xs text-red-500">{{ getErrorMessage(field.name) }}</span>
          }
        </div>
      }

      <!-- Image (placeholder - to be enhanced) -->
      @case (TypeField.image) {
        <mat-form-field class="w-full" hideRequiredMarker="true">
          <mat-label
            >{{ getLabel() }}<span *ngIf="field.required" class="text-red-500">*</span></mat-label
          >
          <input
            matInput
            type="url"
            [formControlName]="field.name"
            placeholder="https://example.com/image.jpg"
            (input)="onValueChange($any($event.target).value)"
          />
          @if (showError && isInvalid(field.name)) {
            <mat-error>{{ getErrorMessage(field.name) }}</mat-error>
          }
        </mat-form-field>
      }

      <!-- Menu (placeholder - to be enhanced) -->
      @case (TypeField.menu) {
        <div class="flex flex-col gap-1">
          <span class="text-sm font-medium text-gray-700 dark:text-gray-300"
            >{{ getLabel() }}<span *ngIf="field.required" class="text-red-500">*</span></span
          >
        </div>
      }

      <!-- SubGroup (placeholder - to be enhanced) -->
      @case (TypeField.subgroup) {
        <div class="flex flex-col gap-1 rounded-lg border border-[var(--accent-color)] p-4">
          <span class="text-sm font-semibold text-gray-700 dark:text-gray-300">{{
            getLabel()
          }}</span>
        </div>
      }

      <!-- SubList (placeholder - to be enhanced) -->
      @case (TypeField.sublist) {
        <div class="flex flex-col gap-1">
          <span class="text-sm font-medium text-gray-700 dark:text-gray-300"
            >{{ getLabel() }}<span *ngIf="field.required" class="text-red-500">*</span></span
          >
        </div>
      }
    }
  }
</div>
