<div
  class="top-0 left-0 m-0 flex min-h-[calc(100vh-150px)] w-full flex-col items-center justify-center overflow-y-auto"
>
  <div
    class="m-auto flex w-full max-w-md flex-col rounded-xl border-2 border-[var(--accent-color)]/50 p-6 shadow-lg dark:border-[var(--accent-color)]/50"
  >
    <div class="mb-6 text-center">
      <div class="mb-4">
        <mat-icon
          class="h-9! w-12! text-5xl! text-purple-600 dark:text-purple-400"
          [fontIcon]="isEditMode ? 'edit' : 'person_add'"
        />
      </div>
      <h1 class="textNormal mb-2 text-2xl font-bold">
        {{ isEditMode ? "Edit Your Profile" : "Create Your Profile" }}
      </h1>
      <p class="textMuted">
        {{ isEditMode ? "Update your information" : "Set up your profile" }}
      </p>
    </div>

    <form [formGroup]="uiForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-y-4">
      <app-profile-form
        [name]="basicInfoGroup.get('name')?.value"
        [last_name]="basicInfoGroup.get('last_name')?.value"
        [bio]="basicInfoGroup.get('bio')?.value"
        [image_url]="basicInfoGroup.get('image_url')?.value"
        (nameChange)="basicInfoGroup.patchValue({ name: $event })"
        (lastNameChange)="basicInfoGroup.patchValue({ last_name: $event })"
        (bioChange)="basicInfoGroup.patchValue({ bio: $event })"
        (imageUrlChange)="basicInfoGroup.patchValue({ image_url: $event })"
      />

      <div class="mt-6 flex flex-col gap-3 sm:flex-row sm:justify-end">
        @if (!isProfileRequired) {
          <app-button variant="cancel" (clicked)="onCancel()">
            <mat-icon class="h-5! w-5!" fontIcon="close" />
            Cancel
          </app-button>
        }

        <app-button variant="accent" type="submit">
          <mat-icon class="h-5! w-5!" fontIcon="check" />
          {{ isEditMode ? "Update" : "Create" }}
        </app-button>
      </div>
    </form>

    <div class="mt-6 border-t border-[var(--accent-color)] pt-4 text-center">
      <button [routerLink]="['/profile']" class="styleLinkRedir">
        <mat-icon class="mr-1 h-5! w-5! min-w-5 text-xl!" fontIcon="arrow_back" />
        Back to Profile
      </button>
    </div>
  </div>
</div>
