<div class="flex flex-col gap-y-5 m-3">
  <div class="flex flex-row gap-x-2 w-full">
    <div class="flex flex-col flex-1">
      <app-search
        [isShowSearchField]="true"
        [tempArray]="tempListTodos"
        [searchByFields]="['title']"
        (array)="searchFunc($event)"
      />
    </div>
    <button class="styleFloatBut" routerLink="/todos/create_todo">
      <mat-icon class="!w-[25px] !h-[30px] !text-2xl" fontIcon="add" />
    </button>
  </div>

  <div class="flex flex-col gap-y-3">
    @for (todo of listTodos; track $index) {
      <app-todo [todo]="todo" [index]="$index" />
    }
  </div>
</div>
