<div class="flex flex-col left-0 top-0 m-0 w-full h-screen overflow-x-auto">
  <div
    class="flex flex-col p-5 m-auto !rounded-xl styleBorderSolidLite !border-[3px] bg-transparent backdrop-blur w-full min-[400px]:w-10/12 sm:w-[400px] text-center"
  >
    <div class="flex flex-col gap-y-3 !text-left" [formGroup]="resetForm">
      <div class="flex flex-col items-center text-center">
        <span class="font-bold text-3xl">Reset Password Form</span>
      </div>

      <div class="flex flex-col my-2">
        <span class="text-lg"
          >Enter your email address to which the password reset link will be sent</span
        >
      </div>

      <div class="flex flex-col gap-y-1">
        <label class="styleLabel">Email</label>
        <input class="styleField" type="text" formControlName="email" />
        @if (isInvalid("email")) {
          @if (f["email"].errors?.["required"]) {
            <span class="text-red-500">Field 'Email' should not be empty</span>
          } @else if (f["email"].errors?.["email"]) {
            <span class="text-red-500">Field 'Email' contains an incorrect email address</span>
          } @else if (f["email"].errors?.["pattern"]) {
            <span class="text-red-500">Field 'Email' contains an invalid mailbox domain</span>
          }
        }
      </div>

      <div class="flex flex-row justify-end gap-3">
        <button class="styleButDanger" (click)="back()">Cancel</button>
        <button class="styleButSuccess" (click)="onSubmit()">OK</button>
      </div>
    </div>
  </div>
</div>
