<div class="flex flex-col m-5">
  <div
    class="flex flex-col gap-y-3 mx-auto my-5 p-10 styleBorderSolidLite border w-11/12 md:w-2/3 lg:w-1/2"
    [formGroup]="resetForm"
  >
    <div class="flex flex-col items-center">
      <span class="font-bold text-3xl">Reset Password Form</span>
    </div>

    <div class="flex flex-col my-2">
      <span class="text-lg"
        >Enter your email address to which the password reset link will be sent</span
      >
    </div>

    <div class="flex flex-col gap-y-1">
      <label class="styleLabel">Email</label>
      <input class="styleField" type="text" formControlName="email" />
      @if (isInvalid("email")) {
        @if (f["email"].errors?.["required"]) {
          <span class="text-red-500">Field 'Email' should not be empty</span>
        } @else if (f["email"].errors?.["email"]) {
          <span class="text-red-500">Field 'Email' contains an incorrect email address</span>
        } @else if (f["email"].errors?.["pattern"]) {
          <span class="text-red-500">Field 'Email' contains an invalid mailbox domain</span>
        }
      }
    </div>

    <div class="flex flex-col sm:flex-row justify-between gap-y-3">
      <button class="styleButDanger" (click)="back()">Return to Sign In</button>
      <button class="styleButInfo" (click)="onSubmit()">Reset Password</button>
    </div>
  </div>
</div>
