@if (isShowSearchField) {
  <div class="flex w-full flex-col">
    <div class="styleElem mx-auto flex w-full flex-row items-center gap-x-2 p-2">
      <input
        type="text"
        class="styleField h-8 w-full border-none!"
        placeholder="Search..."
        id="searchField"
        [(ngModel)]="searchField"
        (keyup)="searchFunc()"
      />
    </div>
  </div>
} @else {
  <button class="styleFloatBut h-10 min-w-10 p-1!" (click)="setFocusField()">
    <mat-icon class="h-5! w-5! min-w-5 text-xl!" fontIcon="search" />
    <span class="hidden sm:block">Search</span>
  </button>
}
