@if (subtasks.length === 0) {
  <app-empty-state icon="check_box" title="No subtasks found" />
} @else {
  <app-entity-list
    [itemType]="'subtask'"
    [items]="subtasks"
    [viewMode]="viewMode"
    [tableFields]="tableFields"
    [actions]="tableActions"
    [selectedIds]="selectedIds"
    [showSelection]="true"
    [dragEnabled]="true"
    [highlightId]="highlightId"
    [isOwner]="isOwner"
    [isPrivate]="isPrivate"
    (itemAction)="onItemAction($event)"
    (selectionChange)="selectionChange.emit($event)"
    (dropped)="dropped.emit($event)"
    (cardClick)="cardClick.emit($event)"
  />
}
