<div
  class="flex flex-row items-center justify-between p-5 styleBorderSolidLite border hover:bg-slate-200 dark:hover:bg-zinc-700 cursor-pointer"
  [routerLink]="(task?.id ?? '') + '/subtasks'"
>
  <div class="flex flex-row gap-x-5">
    <div class="flex flex-col items-center gap-y-1">
      <div class="relative w-[80px] h-[80px]">
        <app-circle-progress [percentCompletedTasks]="percentCompletedSubTasks" [index]="index" />
      </div>
    </div>

    <div class="flex flex-col gap-y-1">
      <span>{{ task?.title ?? "No title" }}</span>
      <span class="textMuted">{{ truncateString(task?.description ?? "No description") }}</span>
      <span class="textMuted text-base">{{ countCompletedTasks }}/{{ countTasks }} subtasks</span>
    </div>
  </div>

  <button [matMenuTriggerFor]="menu" class="styleFloatBut !p-1" (click)="$event.stopPropagation()">
    <mat-icon class="!w-[25px] !h-[30px] !text-2xl" fontIcon="more_horiz" />
  </button>
  <mat-menu #menu="matMenu" class="!p-1 !min-w-min">
    <div class="flex flex-col items-center">
      <button class="styleFloatBut !bg-red-500 dark:!bg-red-700 !p-1" (click)="deleteTask()">
        Delete
      </button>
    </div>
  </mat-menu>
</div>
