<div class="flex flex-col w-full" [formGroup]="form">
  <mat-form-field class="flex flex-col">
    <mat-label>{{ label }}</mat-label>
    <input
      matInput
      type="number"
      formControlName="{{ field.name }}"
      [readonly]="field.readonly ? true : false"
    />
    @if (isInvalid(field.name)) {
      @if (form.get(field.name)?.errors?.["required"]) {
        <mat-error>Field '{{ field.label }}' should not be empty</mat-error>
      } @else if (form.get(field.name)?.errors?.["min"]) {
        <mat-error
          >Field '{{ field.label }}' must be at least
          {{ field.min }}.</mat-error
        >
      }
    }
  </mat-form-field>
</div>
