<div class="flex flex-col gap-y-5 m-3">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>{{ todo?.title ?? "" }}</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="flex flex-col m-3">
      <span>{{ todo?.description ?? "" }}</span>
    </div>
  </mat-expansion-panel>

  <div class="flex flex-row gap-x-2 w-full">
    <div class="flex flex-col flex-1">
      <app-search
        [isShowSearchField]="true"
        [tempArray]="tempListTasks"
        (array)="searchFunc($event)"
      />
    </div>
    <button class="styleFloatBut">
      <mat-icon class="!w-[25px] !h-[30px] !text-2xl" fontIcon="filter_alt" />
    </button>
    <button class="styleFloatBut" routerLink="create_task">
      <mat-icon class="!w-[25px] !h-[30px] !text-2xl" fontIcon="add" />
    </button>
  </div>

  <div class="flex flex-col gap-y-3">
    @for (task of listTasks; track $index) {
      <app-task [task]="task" />
    }
  </div>
</div>
