<div class="flex flex-col gap-y-5 m-3">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>{{ todo?.title ?? "" }}</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="flex flex-col gap-y-5 m-3">
      <div class="flex flex-col gap-y-2">
        <span class="text-xl">Description</span>
        <span>{{ todo?.description ?? "" }}</span>
      </div>
      <div class="flex flex-col gap-y-2">
        <span class="text-xl">Team</span>
        <div class="flex flex-row gap-x-1">
          @for ((assignee of todo?.assignees ?? []); track $index) {
            <img class="rounded-full w-7 h-7" [src]="assignee?.profile?.imageUrl ?? ''" alt="" />
          }
          <img
            class="rounded-full w-7 h-7"
            src="https://cdn-icons-png.flaticon.com/512/7887/7887095.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </mat-expansion-panel>

  <div class="flex flex-row gap-x-2 w-full">
    <div class="flex flex-col flex-1">
      <app-search
        [isShowSearchField]="true"
        [tempArray]="tempListTasks"
        [searchByFields]="['title']"
        (array)="searchFunc($event)"
      />
    </div>
    <button class="styleFloatBut">
      <mat-icon class="!w-[25px] !h-[30px] !text-2xl" fontIcon="filter_alt" />
    </button>
    <button class="styleFloatBut" routerLink="create_task">
      <mat-icon class="!w-[25px] !h-[30px] !text-2xl" fontIcon="add" />
    </button>
  </div>

  <div class="flex flex-col gap-y-3">
    @for (task of listTasks; track $index) {
      <app-task [task]="task" />
    }
  </div>
</div>
