@if (form && field) {
  <div class="flex flex-col w-full" [formGroup]="form">
    <mat-checkbox class="flex flex-col no-check-icon" [formControlName]="field.name">
      <mat-label>{{ label }}</mat-label>
    </mat-checkbox>
    @if (isInvalid(field.name)) {
      @if (form.get(field.name)?.errors?.["required"]) {
        <mat-error>Field '{{ field.label }}' should not be empty</mat-error>
      }
    }
  </div>
} @else {
  <div class="flex items-center gap-2">
    <mat-checkbox
      class="no-check-icon"
      [checked]="checked"
      [indeterminate]="indeterminate"
      [ngClass]="highlight ? 'text-yellow-600 dark:text-yellow-400' : ''"
      (change)="onToggle($event)"
    />
    @if (label) {
      <label
        class="text-sm font-medium textNormal cursor-pointer select-none"
        (click)="onToggle($event)"
      >
        {{ label }}
      </label>
    }
  </div>
}
