<div class="flex flex-col gap-6">
  <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center gap-4">
    <div>
      <h1 class="text-2xl sm:text-3xl font-bold textNormal">Shared Projects</h1>
      <p class="textMuted mt-1">Collaborate on projects and manage shared workloads.</p>
    </div>
  </div>

  @if (myProjects().length > 0) {
    <div class="mb-8">
      <h2 class="text-xl font-semibold textNormal mb-4">My Projects</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 grid-flow-dense">
        @for (todo of myProjects(); track $index) {
          <app-todo
            [todo]="todo"
            [index]="$index"
            [isOwner]="todoIsOwner(todo)"
            [isPrivate]="false"
          />
        }
      </div>
    </div>
  }

  @if (sharedWithMe().length > 0) {
    <div class="mb-8">
      <h2 class="text-xl font-semibold textNormal mb-4">Shared with Me</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 grid-flow-dense">
        @for (todo of sharedWithMe(); track $index) {
          <app-todo
            [todo]="todo"
            [index]="$index"
            [isOwner]="todoIsOwner(todo)"
            [isPrivate]="false"
          />
        }
      </div>
    </div>
  }

  @if (myProjects().length === 0 && sharedWithMe().length === 0) {
    <div
      class="bg-white dark:bg-zinc-800 rounded-xl p-12 shadow-lg border border-gray-200 dark:border-zinc-700 text-center"
    >
      <mat-icon class="w-12! h-12! text-5xl! textMuted mb-4" fontIcon="group" />
      <h3 class="text-xl font-semibold textNormal mb-2">No projects found</h3>
      <p class="textMuted mb-6">You don't have any projects yet.</p>
    </div>
  }
</div>
