<div
  class="floating-bottom-nav-container"
  [class.hidden]="isHidden() && !isShowing() && !isHiding()"
  [class.show-animation]="isShowing()"
  [class.hide-animation]="isHiding()"
>
  <div class="floating-bottom-nav gradient-overlay">
    @for (nav of listNavs; track $index) {
      <div class="flex flex-col items-center justify-center">
        @if (nav.url === "/profile" && hasProfileImage() && !isChildProfileRoute()) {
          <div
            class="nav-item group flex cursor-pointer flex-col items-center justify-center rounded-full p-1.5 transition-all duration-300"
            [routerLink]="nav.url"
            [queryParams]="nav.query"
            [class.nav-item-active]="isActiveRoute(nav)"
            [class.bg-[var(--accent-100)]]="isActiveRoute(nav)"
            [class.dark:bg-[var(--accent-900)]]="isActiveRoute(nav)"
            [class.hover:bg-[var(--accent-color)]/30]="!isActiveRoute(nav)"
            [class.dark:hover:bg-[var(--accent-color)]/20]="!isActiveRoute(nav)"
          >
            <img
              [src]="getProfileImage()"
              alt="Profile"
              class="h-6 w-6 min-w-6 rounded-full object-cover"
            />
            <span
              class="mt-0.5 text-xs font-medium transition-colors"
              [class.icon-accent]="isActiveRoute(nav)"
              [class.text-gray-500]="!isActiveRoute(nav)"
              [class.dark:text-gray-400]="!isActiveRoute(nav)"
            >
              {{ getLabel(nav) }}
            </span>
          </div>
        } @else {
          <div
            class="nav-item group flex cursor-pointer flex-col items-center justify-center rounded-full p-1.5 transition-all duration-300"
            [routerLink]="nav.url"
            [queryParams]="nav.query"
            [class.nav-item-active]="isActiveRoute(nav)"
            [class.bg-[var(--accent-100)]]="isActiveRoute(nav)"
            [class.dark:bg-[var(--accent-900)]]="isActiveRoute(nav)"
            [class.hover:bg-[var(--accent-color)]/30]="!isActiveRoute(nav)"
            [class.dark:hover:bg-[var(--accent-color)]/20]="!isActiveRoute(nav)"
          >
            <mat-icon
              class="h-5! w-5! min-w-5 text-xl! transition-colors"
              [fontIcon]="getIcon(nav)"
              [class.text-black]="isActiveRoute(nav)"
              [class.dark:text-white]="isActiveRoute(nav)"
              [class.text-gray-500]="!isActiveRoute(nav)"
              [class.dark:text-gray-400]="!isActiveRoute(nav)"
            />
            <span
              class="mt-0.5 text-xs font-medium transition-colors"
              [class.text-black]="isActiveRoute(nav)"
              [class.dark:text-white]="isActiveRoute(nav)"
              [class.text-gray-500]="!isActiveRoute(nav)"
              [class.dark:text-gray-400]="!isActiveRoute(nav)"
            >
              {{ getLabel(nav) }}
            </span>
          </div>
        }
      </div>
    }
  </div>
</div>
